.App {
  font-family: "Mochiy Pop One", "Fruktur", cursive, sans-serif;
  text-align: center;
}

:root {
  --background: #f6f6f5;
  --lightShade: #f7fbf2;
  --lightAccent: #d6b2a4;
  --main: #bb915a;
  --darkAccent: #cc4066;
  --darkShade: #251e2e;
  background-color: var(--background);
}

/*
  Typography
*/

h1 {
  color: var(--darkAccent);
}

h2 {
  color: var(--darkShade);
}

.small-text {
  color: var(--lightAccent);
  font-size: 0.75em;
}

.textAttention {
  color: var(--darkAccent);
}

/* 
  Elements
*/

#dimensionInput {
  font-family: "Mochiy Pop One", cursive, sans-serif;
  text-align: center;
  color: var(--lightAccent);
  background-color: var(--lightShade);

  width: 4em;
  height: 2em;
  margin: 0;
  padding: 1em;
  border: none;
  border: 0.25em solid var(--lightAccent);
  border-radius: 0.5em;
  outline: none;

  transition: all 0.2s ease-in-out;
}

#dimensionInput:hover {
  box-shadow: 2px 2px 4px var(--lightAccent);
  cursor: text;
}

#dimensionInput:focus {
  color: var(--darkAccent);
  border: 0.25em solid var(--darkAccent);
  box-shadow: 2px 2px 4px var(--darkAccent);
}

button.fun {
  font-family: "Fruktur", cursive;
  font-size: 1em;
  transition: all 0.2s ease-in-out;
}

button {
  margin: 2em;
  padding: 0;
  border-radius: 1em;
}

.small,
button.small {
  width: 3em;
  height: 3em;
}

.medium,
button.medium {
  width: 6em;
  height: 6em;
}

.large,
button.large {
  width: 10em;
  height: 10em;
}

@media screen and (max-width: 500px) {
  .rectangle,
  button.rectangle {
    width: 8em;
    height: 3em;
  }
}
@media screen and (min-width: 500px) {
  .rectangle,
  button.rectangle {
    width: 14.2em;
    height: 4.4em;
  }
}

.rectangle.round {
  border-radius: 2em;
}

.pill,
span.pill {
  display: inline-block;
  overflow: hidden;
  width: 5em;
  height: 1.5em;

  padding: 0.5em;
  border-radius: 2em;
  color: var(--lightShade);
  background-color: var(--main);
}

.containerScore {
  margin: 0;
  margin-bottom: 1em;
}

.light {
  color: var(--lightAccent);
  background-color: var(--lightShade);
  border: none;
  box-shadow: 2px 2px 4px var(--lightAccent);
}

.light:hover {
  cursor: pointer;
  color: var(--darkAccent);
  box-shadow: 4px 4px 4px var(--darkAccent);
  transform: scale(1.05);
}

.dark {
  color: var(--darkAccent);
  background-color: var(--darkShade);
  border: none;
  box-shadow: 2px 2px 4px var(--darkAccent);
}

.dark:hover {
  cursor: pointer;
  color: var(--lightAccent);
  box-shadow: 4px 4px 4px var(--lightAccent);
  transform: scale(1.05);
}

@media screen and (max-width: 500px) {
  .containerCards {
    font-family: "Fruktur", cursive;
    display: inline;
  }
}

@media screen and (min-width: 500px) {
  .containerCards {
    width: 90%;
    font-family: "Fruktur", cursive;
    display: inline-block;
  }
}

.card {
  display: inline-block;
  justify-content: center;
  margin: 0.2em;
  font-size: 1em;
  width: 2.5em;
  height: 4em;

  color: var(--darkAccent);
  color: transparent;
  background-color: var(--darkShade);
  border-radius: 0.5em;

  transition: all 0.15s ease-in-out;
}

.card:hover {
  cursor: pointer;
  box-shadow: inset 0 0 1.5em var(--darkAccent);
  transform: scale(1.1);
}

.card.selected {
  color: var(--darkAccent);
  background-color: var(--lightAccent);
}

.card.solved {
  color: var(--darkAccent);
  background-color: var(--main);
}
